@import url("./main.css");

.video-js .vjs-play-progress,
.video-js .vjs-volume-level {
  background-color: var(--primary-color);
}

.vjs-fluid {
  overflow: hidden;
}

.video-js .vjs-control-bar {
  display: block;
  background-color: var(--light-background-color);
  opacity: 0.95;
  color: var(--primary-color)
}

.video-js .vjs-control {
  position: absolute;
}

.video-js .vjs-progress-control {
  bottom: 28px;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: var(--background-color);
}
.video-js .vjs-progress-holder {
  position: absolute;
  left: -10px;
  margin: 0;
  height: 8px;
  width: 100%;
}
.video-js .vjs-play-progress,
.video-js .vjs-load-progress {
  height: 8px;
}

.video-js .vjs-play-progress:before {
  font-size: 12px;
  top: -2px;
  text-shadow: 0 0 2px black;
}

.video-js .vjs-progress-holder:hover .vjs-play-progress:before {
  font-size: 14px;
  top: -4px;
}

.video-js .vjs-current-time {
  display: block;
  left: 35px;
}
.video-js .vjs-time-divider {
  position: absolute;
  display: block;
  bottom: 0;
  left: 70px;
}

.video-js .vjs-duration {
  display: block;
  left: 80px;
}

.video-js .vjs-volume-control {
  right: 0 !important;
  left: 0 !important;
  background-color: var(--light-background-color);
}

.video-js .vjs-volume-panel {
  right: 84px;
}

.video-js .vjs-captions-button {
  right: 56px;
}

.video-js .vjs-playback-rate {
  right: 28px;
}

.video-js .vjs-quality-selector {
  right: 28px;
}

.video-js .vjs-fullscreen-control {
  right: 0;
}

.video-js .vjs-text-track-display > div > div > div{ 
	background: rgba(0, 0, 0, 0.35) !important;
  padding: 5px;
	text-shadow: 1px 1px 3px #000000 !important;
	display: inline-block !important;
  border-radius: 10px;;
}
